@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #181818;
}
hr {
    background-color: #464646;
    height: 1px;
    border: none;
}



#navbar {
    background-color: #202020;
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;

}

#search-input {
    background-color: #000000;
    font-size: 100%;
    width: 350%;
    height: 40px;
    margin-left: 50%;
    top: 15px;
    padding: 4px;
}

.search-icon {
    float: right;
    position: absolute;
    height: 47px;
    width: 72px;
    margin-left: 50.7%;
    top:4px;
    padding: 4px;;
}

.voice-search {
    float: right;
    position: absolute;
    height: 48px;
    width: 53px;
    margin-left: 55%;
    top:4px;
    padding: 4px;;
}

.nav-btn {
    float: right;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 69%;
    top: 5px;
}

.nav-btnicon {
    display: flex;
    padding: 1rem;
}

.avatar {
    float: right;
    position: absolute;
    margin-left: 78.5%;
    height: 40px;
    top: 8px;
}


.menu-bars {
    margin-left: 3.5rem;
    font-size: 2rem;
    color: #fff;
}

#nav-menu {
    background-color: #212121;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
   left: -100%;
   transition: 850ms;
}

#nav-menu.active {
    left:0;
    transition: 150ms;
}

.nav-text {
    display: flex;
    justify-self: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-text:hover {
    background-color: rgba(144,144,144,0.219);
    cursor: pointer;
}

.nav-menu-item {
    width: 100%;
}

.nav-icon {
    padding-right: 1rem;
    color: #909090;
}

#youtube-logo {
    color: #f90201;
    padding-right: 0.2rem;
    padding-left: 10px;
}

#navbar-toggle {
    background-color: #212121;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-toggle h1 {
    color: #fff;
    font-family: 'Oswald',sans-serif;
}

#navbar-toggle a {
    text-decoration: none;
}

.fa-bars {
    color: #fff;
}

.nav-section {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: safe;
}

#navbar h1 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-left: 20px;
}

#navbar a {
    text-decoration: none;
    color: #f5f5f5;

}



.flexbox-container {
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
}
 .flexbox-main-section {
     width: 69%;
 }

 .title {
    width: 100%;
    display: inline-block;
  }
  
  #hashtag {
    text-decoration: none;
    color: rgb(150, 150, 238);
    font-size: 12px;
    margin-top: 15px;
  }
  
  #main-title {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-top: 5px;
  }
  
  .views-btn {
    float: center;
    display: flex;
    width: 100%;
    padding-top: 5px;
  }

  #desc1 {
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    margin-left: 70px;
  }
  
  #desc2 {
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    margin-left: 70px;
  }

  #more {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    margin-top: 14px;
    margin-left: 70px;
    margin-bottom: 15px;
  }

  .cmt-img {
    width: 100%;
  }

  .flexbox-side-videos {
      flex-direction: column;
      width: 29%;
      display:list-item;
  }

  .suggest {
    display: flex;
    float: right;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .side-vids img {
    width: 90%;
    flex-direction: column;
    display: inline-block;
    margin-left: 30px;
  }



  .views_count {
      margin-top: 20px;
      margin-bottom: 10px;
      text-decoration: none;
      display: inline-flex;
      width: 100%;
      justify-content: start;
  }

  #views {
      text-decoration: none;
      color: #909090;
      font-size: 15px;
  }

  .like_btn {
      font-size: 16px;
      display: inline-flex;
      margin-left: 29%;
  }

  #likescount {
      margin-left: 1.5rem;
      text-decoration: none;
      color: #fff;
  }

  .rickastley img {
      width: 100%;
  }


.sidewrap {
    width: 95%;
    height: 90px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: block;
    float: right;
    text-decoration: none;
}

.sidewrap img {
    height: 100%;
    width: auto;
    margin-right: 0.7rem;
}

  

.sidetitle {
    text-decoration: none;
    font-size: 15px;
    font-weight: 535;
    color: #fff;
}
.sidetitle a {
    text-decoration: none;
    color: #fff;
}



.artist {
    font-weight: 300;
    text-decoration: none;
    color: #909090;
    font-size: 12px;
    margin-top: 10px;
}

.artist a {
    text-decoration: none;
    color: #909090;
}

.time-views {
    font-weight: 300;
    text-decoration: none;
    color:#909090;
    font-size: 12px;
    margin-top: 8px;
}

